{% load static %}
<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar">
  <div class="mr-auto">
    <ul class="navbar-nav mr-3">
      <li>
        <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"
          ><i class="fas fa-bars"></i
        ></a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav">
    <li><div class="badge badge-success">Live Mode</div></li>
  </ul>
  {% comment %} <ul class="navbar-nav">
    <li><div class="badge badge-danger">Debug Mode</div></li>
  </ul> {% endcomment %}
  <ul class="navbar-nav navbar-right">
    <li class="dropdown dropdown-list-toggle">
      <a
        href="#"
        data-toggle="dropdown"
        class="nav-link notification-toggle nav-link-lg"
      >
        <div class="d-block d-md-none badge badge-light">
          <span class="text-uppercase">en</span>
        </div>
        <div class="d-none d-md-block badge badge-light">English</div>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-title">Language</div>
        <a
          href="#"
          data-language="en"
        class="dropdown-item has-icon"
          ><i class="fas fa-check"></i> English</a
        ><a
          href="#"
          class="dropdown-item has-icon"
          ><i class="fas fa-minus"></i> Spanish</a
        ><a
          href="#"
          class="dropdown-item has-icon"
          ><i class="fas fa-minus"></i> Russian</a
        ><a
          href="#"
          class="dropdown-item has-icon"
          ><i class="fas fa-minus"></i> Hausa</a
        >
      </div>
    </li>

    <li class="dropdown">
      <a
        href="#"
        data-toggle="dropdown"
        class="nav-link dropdown-toggle nav-link-lg nav-link-user"
      >
        <img
          alt="image"
          src="{% static 'assets/image/mbr_image_1.jpg' %}"
          class="rounded-circle mr-1"
        />
        <div class="d-sm-none d-lg-inline-block">
          <span class="text-capitalize">User B</span>
        </div></a
      >
      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-title">Logged in 1 second</div>
        <a
          href="{% url 'view_profile' %}"
          class="dropdown-item has-icon"
        >
          <i class="far fa-user-circle"></i> Profile
        </a>
        <div class="dropdown-divider"></div>
        <a href="{% url 'logout' %}" class="dropdown-item has-icon text-danger">
          <i class="fas fa-door-open"></i> Logout
        </a>
      </div>
    </li>
  </ul>
</nav>
{% include 'sidebar.html' %}
