
{% extends 'base.html' %} {% load static %} {% block content %}
<div class="section-header">
  <h1><i class="fa fa-fw fa-flag-checkered"></i> Getting Started</h1>
</div>

<div class="section-body">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <p><b>Welcome</b></p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. In ante
            metus dictum at. Diam vel quam elementum pulvinar etiam non quam
            lacus.<br />
          </p>
          <p><b>How It Works</b></p>
          <p>
            Neque gravida in fermentum et sollicitudin ac orci. Commodo elit at
            imperdiet dui accumsan sit amet nulla facilisi. Cursus turpis massa
            tincidunt dui ut.
          </p>

          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              class="embed-responsive-item"
              src="https://www.youtube.com/embed/dQ7Z1YOp9TI?controls=0&amp;rel=0"
              allowfullscreen=""
            ></iframe>
          </div>

          <p>
            Mattis molestie a iaculis at erat pellentesque adipiscing commodo.
            Nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Orci
            eu lobortis elementum nibh. Tempus urna et pharetra pharetra massa
            massa ultricies mi quis. Donec pretium vulputate sapien
            nec.&nbsp;Facilisis magna etiam tempor orci. Porta non pulvinar
            neque laoreet suspendisse interdum consectetur libero id. Mi in
            nulla posuere sollicitudin aliquam ultrices sagittis orci a. Sit
            amet aliquam id diam maecenas ultricies mi. Ultricies lacus sed
            turpis tincidunt id aliquet risus.<br />
          </p>
          <p><b>Promote Your Referral Link</b></p>
          <p>
            Quis vel eros donec ac. Integer malesuada nunc vel risus commodo
            viverra. Morbi tempus iaculis urna id volutpat. Vestibulum sed arcu
            non odio. Varius sit amet mattis vulputate enim nulla. Nam libero
            justo laoreet sit amet. Etiam erat velit scelerisque in dictum non
            consectetur. Diam sit amet nisl suscipit adipiscing bibendum est
            ultricies integer. Augue ut lectus arcu bibendum at. Scelerisque in
            dictum non consectetur a erat.<br />
          </p>
          <p><b>Success Secrets</b></p>
          <p>
            Quis commodo odio aenean sed adipiscing diam donec adipiscing. Nulla
            pellentesque dignissim enim sit amet venenatis. Proin sed libero
            enim sed faucibus turpis. Et odio pellentesque diam volutpat
            commodo. Est pellentesque elit ullamcorper dignissim cras tincidunt
            lobortis feugiat vivamus.<br />
          </p>
          <p><b>Resources</b></p>
          <p>
            Tortor aliquam nulla facilisi cras fermentum odio. Pellentesque sit
            amet porttitor eget dolor morbi non arcu risus. Semper quis lectus
            nulla at volutpat diam ut. Egestas sed tempus urna et pharetra
            pharetra massa massa ultricies. Purus in massa tempor nec feu
          </p>
          <ol>
            <li>hkdl;a</li>
            <li>alfjdla;j</li>
            <li>a;fdlak;lj</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

