{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="section-header">
  <h1><i class="fa fa-fw fa-chart-line"></i> Dashboard</h1>
</div>

<div class="section-body">
  <div class="row">
    <!-- Link Hits -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <div class="card-icon bg-info">
          <i class="far fa-hand-point-up"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h4>Link Hits</h4>
          </div>
          <div class="card-body">
            {{ total_link_clicks }}
            <div class="text-small text-muted">Conversion: {{ conversion_rate }}%</div>
          </div>
          <div class="card-footer text-small text-small mt-2 border-top">
            <i class="fas fa-calendar-alt"></i> Last visit:
            <strong>{{ last_visit }}</strong>
            <span class="float-right"><i class="fas fa-frown"></i></span>
          </div>
        </div>
      </div>
    </div>

    <!-- Personal Referrals -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <a href="{% url 'view_genealogy' %}">
          <div class="card-icon bg-info">
            <i class="far fa-handshake"></i>
          </div>
        </a>
        <div class="card-wrap">
          <div class="card-header">
            <h4>Personal Referrals</h4>
          </div>
          <div class="card-body">
            {{ personal_referrals }}
            <div class="text-small text-muted">Total referral: {{ total_referrals }}</div>
          </div>
          <div class="card-footer text-small mt-2 border-top">
            <i class="fas fa-user-check text-success"></i> Active:
            <strong>{{ active_referrals }}</strong>
            <span class="float-right">
              {% for i in "12345" %}
              <i class="fas fa-star text-warning"></i>
              {% endfor %}
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
      <div class="card card-statistic-1">
        <a href="{% url 'affiliate_earnings' %}">
          <div class="card-icon bg-warning">
            <i class="far fa-money-bill-alt"></i>
          </div>
        </a>
        <div class="card-wrap">
          <div class="card-header">
            <h4>Earning</h4>
          </div>
          <div class="card-body">${{ total_earnings }}
            <div class="text-small text-muted">Total income: </div>
          </div>
          <div class="card-footer text-small text-small mt-2 border-top">
            <a href="{% url 'withdraw_request' %}">
              <i class="fas fa-wallet fa-fw"></i>
            </a>
            Wallet: <strong> ${{ wallet_balance }}</strong>
            <span class="float-right">
              <i class="fas fa-smile text-secondary"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Account Overview -->
    <div class="col-lg-8 col-md-12 col-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4>Account Overview</h4>
          <div class="card-header-action">
            <div class="badge badge-success">Active</div>
          </div>
        </div>
        <div class="card-body">
          <div class="summary-item">
            <ul class="list-unstyled list-unstyled-border">
              <li class="media">
                <div class="media-body">
                  <div class="text-small">Registered</div>
                  <div class="media-title">{{ register_date }}</div>
                </div>
              </li>
              <li class="media">
                <div class="media-body">
                  <div class="text-small">Name</div>
                  <div class="media-title">
                    {{ display_name }} ({{ user.email }})
                  </div>
                </div>
              </li> 
              <li class="media">
                <div class="media-body">
                  <div class="text-small">
                    Products Referrals URL
                    <a href="https://peppy.link/GoSxU" target="_blank"
                      class="d-sm-none" data-toggle="tooltip" title="" data-original-title="https://peppy.link/GoSxU">
                      <span class="text-small">
                        <i class="fa fa-fw fa-external-link-alt"></i>
                      </span>
                    </a>
                  </div> 
                  {% for link in product_links %}
                  <div class="media-title">
                    <a class="d-none d-sm-block" href="{{ link.unique_url }}"
                      target="_blank" data-toggle="tooltip" title="" data-original-title="{{ link.unique_url }}">
                      ({{ link.product.name }})
                    </a>
                    <div class="d-sm-none">
                      <div class="form-group">
                        <div class="input-group mb-3">
                          <input type="text" class="form-control form-control-sm" value="{{ link.unique_url }}" id="mypeppyrefurlid" readonly=""/>
                          <div class="input-group-append">
                            <button class="btn btn-primary btn-sm" type="button" onclick="copyInputText('mypeppyrefurlid')"
                              data-toggle="tooltip" title="" data-original-title="Copy link">
                              <i class="fa fa-copy fa-fw"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 
                  {% empty %}
                  <div class="media-title">No product links generated yet.</div>
                  {% endfor %}
                </div>
              </li> 
              <li class="media">
                <div class="media-body">
                  <div class="text-small">
                    Default Referral URL
                    <a href="{{ default_referral_link }}" target="_blank" class="d-sm-none" data-toggle="tooltip" title="" data-original-title="{{ default_referral_link }}">
                      <span class="text-small" ><i class="fa fa-fw fa-external-link-alt"></i>
                      </span>
                    </a>
                  </div>
                  <div class="media-title">
                    <a class="d-none d-sm-block" href="{{ default_referral_link }}"
                      target="_blank" data-toggle="tooltip" title="" data-original-title="{{ default_referral_link }}">
                      {{ default_referral_link }}
                    </a>
                    <div class="d-sm-none">
                      <div class="form-group">
                        <div class="input-group mb-3">
                          <input
                            type="text" class="form-control form-control-sm" value="{{ default_referral_link }}" id="myrefurlid" readonly=""/>
                          <div class="input-group-append">
                            <button class="btn btn-primary btn-sm" type="button" onclick="copyInputText('myrefurlid')" data-toggle="tooltip" title="" data-original-title="Copy link">
                              <i class="fa fa-copy fa-fw"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Performance -->
      <div class="card">
        <div class="card-header">
          <h4>Performance</h4>
        </div>
        <div class="card-body">
          <canvas id="performanceChart" width="400" height="200"></canvas>
        </div>
      </div>
      <!-- Ranking Section -->
    <div class="card">
      <div class="card-header">
        <h4>Ranking</h4>
        <div class="card-header-action">
          <div class="badge badge-success">Active</div>
        </div>
      </div>

      {% if rank %}
        <div class="card-body">
          <div class="summary">
            <div class="summary-info">
              {% if next_rank %}
                <h4><small
                  ><span class="text-warning"
                    ><i class="fas fa-caret-down"></i></span
                  > To Rank Up</small
                >
                  <span class="text-success"><i class="fas fa-caret-up"></i></span>
                  Total Referrals: {{ next_rank_min_total_referrals }}
                </h4>
                <div class="text-muted">Personal Referrals: {{ next_rank_min_personal_referrals }}</div>
                <h3 class="mt-2">
                  <span class="text-info"><i class="fas fa-wallet fa-fw"></i></span>
                  Next Rank : {{ next_rank }}
                </h3>
                <div class="d-block mt-2">
                  <a href="{% url 'view_rewards' %}">View Details</a>
                </div>
              {% else %}
                <p>Congratulations! You have achieved the highest rank.</p>
              {% endif %}
            </div>

            <div class="summary-item">
              <h6><span class="text-muted">Attained Since</span>
                <i class="fas fa-calendar-alt"></i> {{ register_date }}</h6>
              <ul class="list-unstyled list-unstyled-border">
                <li class="media">
                  <div>
                    <img
                      class="mr-3 rounded"
                      width="50"
                      src="{{ rank_logo }}"
                      alt="{{ rank }}"
                    />
                  </div>
                  <div class="media-body">
                    <div class="media-title">{{ rank }}</div>
                    <div class="text-muted text-small">
                      Reward: ${{ rank_reward }}
                    </div>

                    <h6 class="mt-3">
                      <div class="media-right text-right">
                        <div></div>
                        <div><div class="badge badge-success">Active</div></div>
                      </div>
                      <span class="text-muted">Total User Referred: </span>{{ referrals.count }}
                      <div>
                        <span class="text-small"> </span>
                      </div>
                    </h6>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      {% else %}
        <p>You have not achieved any rank yet. Work on your referrals to progress!</p>
      {% endif %}
    </div>

    </div>

    <!-- Sponsor -->
    <div class="col-lg-4 col-md-12 col-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4>My Sponsor</h4>
          <div class="card-header-action">
            <span class="badge badge-success">Active</span
            ><span
              class="badge badge-success"
              data-toggle="tooltip"
              title=""
              data-original-title="Plan E - Active"
              ><i class="fa fa-fw fa-check"></i
            ></span>
          </div>
        </div>
        <div class="card-body">
          <ul class="list-unstyled list-unstyled-border">
            <li class="media">
              <img
                class="mr-3 rounded-circle"
                width="48"
                src="{% static 'assets/image/mbr_image_1.jpg' %}"
                alt="avatar"
              />
              <div class="media-body">
                <div class="float-right text-small text-success"></div>
                <div class="media-title">{{ sponsor_name }}</div>
                <span class="text-small text-muted">
                  <div>{{ sponsor_name }}</div>
                  <div
                    data-toggle="tooltip"
                    title=""
                    data-original-title="{{ sponsor_email }}"
                  >
                    <i class="fa fa-fw fa-envelope"></i> {{ sponsor_email }}
                  </div>
                  <div><i class="fa fa-fw fa-mobile-alt"></i> {{ sponsor_phone }}</div>
                  <div>{{ sponsor_location }}</div>
                </span>
              </div>
            </li>
          </ul>
          <div>
            <blockquote class="text-small">
              I like to receive and deal with challenging tasks. I am a very
              enthusiastic person and I think this is a strong point of mine. My
              friends say that I am a very funny with a good sense of humor. As
              soon as I meet new people who are happy to meet me, I feel
              extremely comfortable with them.
            </blockquote>
          </div>
        </div>
      </div> 
      <!-- Recent Referrals -->
      <div class="card">
        <div class="card-header">
          <h4>Recent Referrals</h4>
          <div class="card-header-action">
            <a href="{% url 'view_genealogy' %}" class="btn btn-primary">View All</a>
          </div>
        </div>
        <div class="card-body">
          <ul class="list-unstyled list-unstyled-border">
            {% if recent_referrals %}
            {% for referral in recent_referrals %}
            <li class="media">
              <img class="mr-3 rounded-circle" width="48" src="{% static 'assets/image/mbr_defaultimage.jpg' %}" alt="avatar"/>
              <div class="media-body">
                <div class="float-right text-small text-success">
                  {{ referral.join_date }}
                </div>
                <div class="media-title">{{ referral.user.email }}</div>
                <span class="text-small text-muted"
                  ><div>{{ referral.user.full_name }}</div>
                  <div data-toggle="tooltip" title="" data-original-title="{{ referral.user.email }}">
                    {{ referral.user.email }}
                  </div>
                </span>
              </div>
            </li>
              {% endfor %}
              {% else %}
                      <p>You have not referred any users yet. Share your referral link to grow your network!</p>
              {% endif %} 
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var ctx = document.getElementById('performanceChart').getContext('2d');
  var performanceChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: {{ performance_chart_labels|safe }},
      datasets: [
        {
          label: 'Referrals',
          data: {{ performance_chart_referrals|safe }},
          borderColor: '#36a2eb',
          fill: false
        },
        {
          label: 'Products',
          data: {{ performance_chart_products|safe }},
          borderColor: '#ff6384',
          fill: false
        },
        {
          label: 'Clicks',
          data: {{ performance_chart_clicks|safe }},
          borderColor: '#4bc0c0',
          fill: false
        }
      ]
    },
    options: {
      responsive: true,
      title: {
        display: true,
        text: 'Performance Overview'
      },
      scales: {
        xAxes: [{ display: true, scaleLabel: { display: true, labelString: 'Time' } }],
        yAxes: [{ display: true, scaleLabel: { display: true, labelString: 'Count' } }]
      }
    }
  });
</script>
{% endblock %}
