{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}
<body class="pace-done sidebar-gone">
<div id="app">
    <section class="section">
        <div class="container mt-4">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                    <div class="login-brand">
                        <img src="{% static 'assets/image/logo.png' %}" alt="logo" width="100" class="shadow-light rounded-circle">
                        <div>Skillsquared AMS Membership</div>
                    </div>

                    <div class="card card-primary">
                        <div class="card-header"><h4>Password Reset Sent</h4></div>
                        <div class="card-body">
                            <p class="text-muted">
                                We have emailed you instructions for resetting your password. If you don’t receive the email within a few minutes, please check your spam folder.
                            </p>
                            <div class="form-group">
                                <a href="{% url 'login' %}" class="btn btn-primary btn-lg btn-block">Back to Login</a>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3 text-center">
                        <p>
                            Didn't get the email? <a href="{% url 'password_reset' %}">Try Again</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="simple-footer">
        <div class="text-small">Crafted with <i class="fa fa-fw fa-heart"></i> 2024 Skillsquared AMS Membership</div>
    </div>
</div>

<!-- General JS Scripts -->
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/pace.min.js' %}"></script>
<script src="{% static 'js/stisla.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
